
  <div class="text-center my-2">
    <h5 class="text-dp text-uppercase">Perfume Catalog</h5>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h4 class="m-2 m-sm-3">Browse Our Perfumes</h4>
        <div class="m-2 m-sm-3">
          <i class="fa-solid fa-spray-can-sparkles fa-6x"></i>
        </div>
        <p class="m-2 m-sm-3">Discover premium fragrances!</p>
        <div class="d-grid">
          <a
            class="btn btn-outline-dp d-flex justify-content-center align-items-center flex-fill"
            href="{% url 'showcase' %}"
            role="button">
            <span class="icon">
              <i class="fas fa-chevron-left fs-5"></i>
            </span>
            <span class="text-capitalize">View Catalog</span>
          </a>
        </div>
      </div>
    </div>
  </div>